*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(176, 210, 245);
}

.content{
    padding: 20px;
    max-height: 600px;
    width: 420px;
    background-color: rgb(233, 232, 232);
    border-radius: 10px;
}

.content h2{
    text-align: center;
    padding-bottom: 20px;
}

input{
    height: 40px;
    width: 300px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

button{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(0, 166, 255);
    color: white;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 600;
}

button:hover{
    box-shadow: 0 0 10px black;
}

.liCss{
    background-color: rgba(255, 255, 255, 0.966);
    color: black;
    font-size: 18px;
    font-weight: 550;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 380px;
    list-style: none;
}

.liCss:hover{
    background-color: rgba(196, 196, 191, 0.559);
}

.cross{
    height: 20px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 6px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 10px;
}

.cross:hover{
    background-color: rgba(255, 74, 74, 0.88);
    color: white;
}

.cross:hover .liCss{
    text-decoration: line-through;
}